/*
vars:
*/
$bg: #ededed;
$brand: #fff159;
$white: #fff;
$gray: #333;

/*
misc important: para predominar ante otros estilos
*/
.mb_0 {
    margin-bottom: 0!important;
}
.mt_0 {
    margin-top: 0!important;
}
.pt_0 {
    padding-top: 0!important;
}
.pb_0 {
    padding-bottom: 0!important;
}
.fs_10 {
    font-size: 10px!important;
}
.fs_12 {
    font-size: 12px!important;
}
.fs_14 {
    font-size: 14px!important;
}
.fs_62 {
    font-size: 62px!important;
}

*, :after, :before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $bg;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
    text-align: center;

    .container {
        display: flex;
        justify-self: center;
        max-width: 1080px;
        padding: 8px 16px;
        margin: 0 auto;
    }

    .logo-area {
        margin-right: 16px;
        .logo {
        width: 134px;
        height: 34px;
        }
    }
  
    .search-area {
        flex-grow: 1;
        display: flex;
        align-self: center;
        .search-input {
            flex-grow: 1;
            display: flex;
            align-items: center;
            padding: 10px 60px 10px 15px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            background-color: $white;
            border: 0 rgba(0,0,0,.2);
            -webkit-box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
            box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
        }
        .search-input:focus-visible {
            outline: none;
        }
    }
    .search-btn {
        background-image: none;
        height: 39px;
        padding-top: 2px;
        cursor: pointer;
        border-radius: 0 2px 2px 0;
        width: 46px;
        border: 0 rgba(0,0,0,.2);
        -webkit-box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
        background-color: $white;
        top: 8px;
        right: 1px;
    }

    header {
        background: $brand;
    }

    .breadcrums {
        width: 100%;
        &__list {
            color: rgba(22, 15, 15, 0.45);
            font-weight: 400;
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
        }
        &__item {
            color: $gray;
            font-size: 12px;
            &:first-child {
                font-weight: 700;
                &:after {   
                    content: ":";
                    padding: 0 6px 0 0;
                }
            }
            &:after {
                content: "-";
                padding: 0 8px;
            }
            &:last-child:after {
                content: none;
                padding: 0 8px;
            }
        }
    }
    .wrapper {
        background-color: $white;
        width: 100%;
        padding: 8px 16px;
        border-radius: 4px;
        .section-products {
            display: flex;
            flex-grow: 1;
            min-width: 100%;
            padding: 8px 0 16px;
            border-bottom: 1px solid $bg;
            text-decoration: none;
            &:last-child {
                border-bottom: none;
            }
            .left-area {
                display: block;
            }
            .body-area {
                display: block;
                flex-grow: 1;
                text-align: left;
                padding: 0 16px;
                color: $gray;
            }
            .right-area {
                display: block;
                text-align: left;
                padding: 0 16px;
                color: $gray;
            }
        }
        .single-product {
            color: $gray;
            .item-area {
                width: 100%;
                display: flex;
                text-align: left;
                .left-area {
                    flex-grow: 1;
                    min-width: 60%;
                    padding-right: 16px;
                }
                .right-area {
                    .price {
                        font-size: 48px;
                        margin: 0;
                    }
                }
            }
        }
    }
}

.ml-button {
    border-color: transparent;
    color: #fff;
    width: 100%;
    cursor: pointer;
    -webkit-transition: box-shadow .25s ease-out,background-color .2s ease-out;
    transition: box-shadow .25s ease-out,background-color .2s ease-out;
    box-shadow: 0 0 0 0 #fff;
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 0 24px;
    height: 48px;
    text-align: center;
    border-radius: 6px;
    -webkit-transition: .18s ease-out;
    transition: .18s ease-out;
    display: inline-block;
    width: auto;
    -webkit-font-smoothing: antialiased;
    margin-top: 0;
    &.primary {
        background-color: #3483fa;
    }
}